<!-- <div id="disqus_thread">
  <button type="button" name="{{ site.disqus.shortname }}" class="btn btn-default show-commend">显示评论</button>
</div>
 -->
 <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="1" data-title="麦子的博客" data-url="http://pengweifu.github.io/"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript">
var duoshuoQuery = {short_name:"pengweifu"};
    $(function(){
        var url=window.location.href;
        var riqi=url.match(/\d+/g);
        var num=1;
        if (riqi.length>0) {
            num=riqi.join('');
        }
        var title=$('title').html();
        $('.ds-thread').attr({
            'data-thread-key':num,
            'data-title':title,
            'data-url':url
        });
        dsThread();
    })
    function dsThread(){
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    }
    </script>
<!-- 多说公共JS代码 end -->