body {
  background: #f2f2f2;
  color: #666;
  min-height: 480px;
  padding-top: 48px;
  padding-bottom: 64px;
}
a {
  color: #999;
}
a:hover,
a:focus {
  color: #093;
}
a:visited {
  color: #999;
}
.am-text-primary {
  color: #666;
}
.am-text-secondary {
  color: #999;
}
.am-text-success {
  color: #093;
}
.am-text-warning,
.am-text-danger {
  color: #f60;
}
.am-primary {
  background: #666;
}
.am-secondary {
  background: #999;
}
.am-success {
  background: #093;
}
.am-warning,
.am-danger {
  background: #f60;
}
.am-btn-primary {
  background: #093;
  border-color: #093;
}
.am-btn-primary:hover,
.am-btn-primary:focus {
  background: #f60;
  border-color: #f60;
}
.am-btn-default {
  background: transparent;
  border-color: #093;
  border-width: 2px;
  color: #093;
}
.am-btn-default:hover,
.am-btn-default:focus {
  background: #093;
  border-color: #093;
  color: #fff;
}
.am-btn-secondary,
.am-btn-success,
.am-btn-warning,
.am-btn-danger,
.am-btn-link {
  background: #f60;
  border-color: #f60;
}
.am-btn-secondary:hover,
.am-btn-success:hover,
.am-btn-warning:hover,
.am-btn-danger:hover,
.am-btn-link:hover,
.am-btn-secondary:focus,
.am-btn-success:focus,
.am-btn-warning:focus,
.am-btn-danger:focus,
.am-btn-link:focus {
  background: #093;
  border-color: #093;
}
header {
  background: #093;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  padding: 0.8rem 0;
}
header .am-g a {
  font-size: 2rem;
  color: #fff;
}
header h1 {
  font-size: 2rem;
  margin: 0;
}
header nav {
  position: relative;
}
header nav .g-topnav {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #fff;
  margin-top: 0.8rem;
}
header nav li {
  display: block;
  background: -webkit-linear-gradient(transparent, transparent, #093, transparent, transparent);
  background: -moz-linear-gradient(transparent, transparent, #093, transparent, transparent);
  background: -o-linear-gradient(transparent, transparent, #093, transparent, transparent);
  background: linear-gradient(transparent, transparent, #093, transparent, transparent);
}
header nav li a {
  color: #093;
  display: block;
  text-align: center;
  margin-left: 1px;
  background: #fff;
}
header nav li a:visited {
  color: #093;
}
header nav li a i {
  font-size: 3.2rem;
}
header nav li:first-child a {
  margin-left: 0;
}
.g-banner .am-slider-default {
  margin-bottom: 0;
}
.g-banner .am-slider-default .am-control-nav {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.g-banner .am-slider-default .am-control-nav li {
  vertical-align: middle;
}
.g-banner .am-slider-default .am-control-nav li a {
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
}
.g-banner .am-slider-default .am-control-nav li a.am-active {
  background: #f60;
}
.g-category {
  background: #fff;
  line-height: 100%;
}
.g-category li {
  margin-top: 1em;
}
.g-category a {
  color: #666;
  font-size: 1.8rem;
  font-weight: 700;
}
.g-category a i {
  display: block;
  font-size: 5rem;
  width: 6rem;
  height: 6rem;
  line-height: 100%;
  margin: 0 auto;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  padding: 5px;
}
.g-category a i.icon-maid {
  background: #00cccc;
}
.g-category a i.icon-nurse {
  background: #99cc00;
}
.g-category a i.icon-nursewheels {
  background: #ff6600;
}
.g-category a i.icon-cleaninglady {
  background: #ff3366;
}
.g-category a i.icon-baby {
  background: #33ccff;
}
.g-category a i.icon-more {
  background: #66cc33;
}
.g-category .am-avg-sm-2 li {
  padding-top: 1rem;
  border: 1px solid #eee;
}
.g-category .am-avg-sm-2 li h3 {
  line-height: 3rem;
}
.g-category .am-avg-sm-2 li h3 i {
  color: #fff;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1rem;
}
.g-category .am-avg-sm-2 li h3 i.icon-golden {
  background: #ffcc00;
}
.g-category .am-avg-sm-2 li h3 i.icon-global {
  background: #ff9999;
}
.g-category .am-avg-sm-2 li p {
  color: #999;
  font-size: 1.4rem;
}
.g-tab {
  margin-top: 2rem;
  background: #fff;
}
.g-tab .am-tabs-nav {
  border: 0;
  font-weight: 700;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.g-tab .am-nav-tabs > li.am-active > a,
.g-tab .am-nav-tabs > li.am-active > a:hover,
.g-tab .am-nav-tabs > li.am-active > a:focus {
  color: #093;
  border-bottom-width: 2px;
  border-color: #093;
  position: relative;
  z-index: 100;
}
.g-tab .am-tabs-bd {
  border: 0;
  border-top: 1px solid #eee;
  top: -1px;
  z-index: 0;
}
.g-tab .radius {
  border-radius: 1rem;
  border: 2px solid #093;
  padding: 5px 10px;
  margin-bottom: 1rem;
}
.g-tab .radius h3 {
  border-bottom: 1px solid #eee;
  font-weight: 700;
}
.g-tab .radius td {
  color: #999;
  padding-bottom: 0.5rem;
}
.g-tab .radius td i {
  font-size: 4rem;
  padding-right: 1rem;
  color: #093;
}
.g-tab .am-comment-avatar {
  font-size: 3.2rem;
  color: #f60;
  line-height: 100%;
  border: 0;
}
@media only screen and (min-width: 641px) {
  .g-tab .am-comment-avatar {
    font-size: 4.8rem;
  }
}
.g-tab ul.am-g {
  padding: 0;
  list-style: none;
}
.g-tab .am-thumbnails {
  text-align: center;
}
.g-tab .am-thumbnails a .am-thumbnail {
  margin-bottom: 0;
}
.g-tab .am-thumbnails a:hover .am-thumbnail {
  border-color: #093;
}
.g-tab .am-thumbnails a span {
  display: block;
  height: 2.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.g-copyright {
  color: #999;
  padding-top: 1rem;
}
.g-copyright a span {
  color: #093;
  padding-right: 1rem;
}
.g-copyright .wechat {
  font-weight: 700;
  color: #666;
}
.g-copyright .icp {
  color: #ccc;
}
.g-bottomnav {
  position: fixed;
  bottom: 0;
  background: #093;
  width: 100%;
  z-index: 101;
}
.g-bottomnav a {
  color: #fff;
}
.g-bottomnav a i {
  font-size: 2.4rem;
}
.g-about-main {
  background: #fff;
  padding: 2rem 0;
}
.g-about-main li {
  border: 1px solid #093;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.g-about-main li a {
  color: #093;
  font-size: 2rem;
  font-weight: 700;
}
.g-about-main li a > i {
  padding-right: 1rem;
}
.g-about-main li a .am-badge {
  float: right;
  background: transparent;
  color: #093;
  font-size: 2rem;
  padding-right: 0;
  padding-left: 0;
}
.g-about-main li p {
  margin-bottom: 0;
  padding: 8px 20px;
  color: #093;
}
.g-about-main li p i {
  float: left;
  font-size: 3rem;
  padding-right: 1rem;
}
.g-about-main li p span {
  color: #666;
  display: block;
}
.g-breadcrumb .am-breadcrumb {
  margin-bottom: 0;
}
.g-breadcrumb .am-breadcrumb .am-active {
  width: 12rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 1.6em;
  vertical-align: top;
}
.g-filter .am-avg-sm-4 {
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
  margin: 0 auto;
}
.g-filter .am-avg-sm-4 li {
  border-left: 1px solid #ccc;
  padding: 5px 0;
}
.g-filter .am-avg-sm-4 li:first-child {
  border-left: 0;
}
.g-filter .am-avg-sm-4 li select {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  border: 0;
  background: transparent;
  text-align: center;
}
.g-content {
  background: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}
.g-content img {
  max-width: 100%;
}
.g-content .am-thumbnails {
  text-align: center;
}
.g-content .am-thumbnails a .am-thumbnail {
  margin-bottom: 0;
}
.g-content .am-thumbnails a:hover .am-thumbnail {
  border-color: #093;
}
.g-content .am-thumbnails a span {
  display: block;
  height: 2.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.g-content .am-comment-avatar {
  font-size: 3.2rem;
  color: #f60;
  line-height: 100%;
  border: 0;
}
@media only screen and (min-width: 641px) {
  .g-content .am-comment-avatar {
    font-size: 4.8rem;
  }
}
.g-employee {
  background: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
}
.g-employee a {
  display: block;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.g-employee a .name {
  color: #093;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.g-employee a .name .am-badge {
  float: right;
  background: transparent;
  color: #999;
  font-size: 1.8rem;
  padding-right: 0;
  padding-left: 0;
}
.g-employee a .name .salary {
  color: #f60;
  float: right;
}
.g-employee a .attr {
  color: #666;
  margin: 0.5rem 0;
}
.g-userinfo .g-employee .am-g:last-child a {
  border-bottom: 0;
}
.g-userinfo .g-basic,
.g-userinfo .g-extra {
  background: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.g-userinfo .g-other {
  background: #fff;
  margin-bottom: 1rem;
}
.g-guestbook {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 2rem 0 8rem 0;
}
.g-guestbook fieldset,
.g-guestbook legend {
  margin-bottom: 5px;
}
.g-content .am-pagination,
.g-employee .am-pagination {
  text-align: center;
}
.g-content .am-pagination li a,
.g-employee .am-pagination li a {
  color: #093;
}
.g-content .am-pagination li.am-active a,
.g-employee .am-pagination li.am-active a {
  color: #fff;
}
.g-content .am-pagination > .am-active > a,
.g-employee .am-pagination > .am-active > a,
.g-content .am-pagination > .am-active > span,
.g-employee .am-pagination > .am-active > span,
.g-content .am-pagination > .am-active > a:hover,
.g-employee .am-pagination > .am-active > a:hover,
.g-content .am-pagination > .am-active > span:hover,
.g-employee .am-pagination > .am-active > span:hover,
.g-content .am-pagination > .am-active > a:focus,
.g-employee .am-pagination > .am-active > a:focus,
.g-content .am-pagination > .am-active > span:focus,
.g-employee .am-pagination > .am-active > span:focus {
  background: #093;
  border-color: #093;
}
